<html>
<head>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
<div id="test_append"></div>
<%= yield %>
</body>
</html>